.btn {
    padding: 0.2rem;
    margin: 0.2rem;
    border: none;
    color: white;
    background: linear-gradient(189deg,#1697bf 3%,#68cef5 98%);
}
.btn:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}